<header>
  <button class="add" ng-show="!$ctrl.isInAddMode" title="Add A Resource" ng-click="$ctrl.isInAddMode = true;">
    <i class="fa fa-plus-square"></i></button>
  <div class="container">
    <h1>My Favorite Learning Resources</h1>
  </div>
</header>
<div class="container resource-list">
  <div ng-show="$ctrl.resourceList.length == 0 && !$ctrl.isInAddMode">
    <h2>You don't have any resources yet.  You can add some by clicking on the + button in the top left corner :)</h2>
  </div>
  <div class="row">
  <div ng-show="$ctrl.isInAddMode" class="card add-mode">
    <div class="card-block">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text"
                class="form-control"
                id="title"
                ng-model="$ctrl.newResource.title" />
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <select class="form-control"
                id="type"
                ng-model="$ctrl.newResource.resourceTypeId"
                ng-options="option.id as option.name for option in $ctrl.resourceTypes">
        </select>
      </div>
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="text"
               class="form-control"
               id="url"
               ng-model="$ctrl.newResource.url" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control"
               id="description"
               ng-model="$ctrl.newResource.description">
        </textarea>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" ng-click="$ctrl.isInAddMode = false;">Cancel</button>
          <button class="btn btn-primary" ng-click="$ctrl.createResource()">+ Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" ng-repeat="re in $ctrl.resourceList track by $index" >
    <div class="card" ng-class="re.isInEditMode ? 'edit-mode': ''">
      <div ng-show="!re.isInEditMode">
        <div class="card-header" ng-class="'resource-type-' + re.resourceTypeId">
          <h3>{{ re.title }}</h3>
          <i ng-class="re.iconClass"></i>
        </div>
        <div class="card-block">
          <a href="{{ re.url }}" target="_blank">{{ re.url }}</a>
          <p>
            {{ re.description }}
          </p>
          <button class="card-button" ng-click="$ctrl.toggleEditMode(re.id, true)"><i class="fa fa-pencil"></i></button>
          <span class="date">Created: {{ re.dateCreated}} </span>
          <button class="card-button pull-right" ng-click="$ctrl.deleteResource(re.id)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
        <div class="edit-mode" ng-show="re.isInEditMode">
          <div class="card-block">
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text"
                     class="form-control"
                     id="title"
                     ng-model="$ctrl.editingResource.title" />
            </div>
            <div class="form-group">
              <label for="type">Type:</label>
              <select class="form-control"
                      id="type"
                      ng-model="$ctrl.editingResource.resourceTypeId"
                      ng-options="option.id as option.name for option in $ctrl.resourceTypes">
              </select>
            </div>
            <div class="form-group">
              <label for="url">URL:</label>
              <input type="text"
                     class="form-control"
                     id="url"
                     ng-model="$ctrl.editingResource.url" />
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control"
                        id="description"
                        ng-model="$ctrl.editingResource.description">
            </textarea>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-secondary" ng-click="$ctrl.toggleEditMode($ctrl.editingResource.id, false)">Cancel</button>
                <button class="btn btn-primary" ng-click="$ctrl.updateResource($ctrl.editingResource.id)">Update</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>
