@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-bg: #d9dbda;

$white: #fff;
$grey: #aaa;
$button-color: #489fdf;

$header-bg: #2d3e50;
$header-button-bg: $button-color;
$header-height: 85px;

$type-1-bg: #8C3253;
$type-2-bg: #2A558C;
$type-3-bg: #99D959;
$type-4-bg: #F29A2E;
$type-5-bg: #D94032;

$card-button-color: $grey;
$card-button-width: 15px;

@mixin full-ellipsis() {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $body-bg;
}

header {
  background: $header-bg;
  height: $header-height;

  button.add {
    background: $header-button-bg;
    color: $white;
    border: none;
    float: left;
    font-size: 36px;
    height: $header-height;
    width: $header-height;

    &:hover {
      background: darken($header-button-bg, 15%);
      cursor: pointer;
    }
  }

  h1 {
    color: $white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 0;
    padding: 20px 0;
  }
}

.resource-list {
  margin-top: 20px;

  h2 {
    color: #aaa;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
  }

  .card {
    margin-bottom: 30px;
    .card-header {
      border-bottom: none;

      h3 {
        font-size: 21px;
        text-align: center;
        @include full-ellipsis;
      }

      .fa {
        font-size: 130px;
        text-align: center;
        display: block;
      }

      &.resource-type-1 {
        background: $type-1-bg;
        color: lighten($type-1-bg, 35%);
      }

      &.resource-type-2 {
        background: $type-2-bg;
        color: lighten($type-2-bg, 35%);
      }

      &.resource-type-3 {
        background: $type-3-bg;
        color: lighten($type-3-bg, 35%);
      }

      &.resource-type-4 {
        background: $type-4-bg;
        color: lighten($type-4-bg, 35%);
      }

      &.resource-type-5 {
        background: $type-5-bg;
        color: lighten($type-5-bg, 35%);
      }
    }

    .card-block {
      a {
        display: block;
        height: 20px;
        @include full-ellipsis;
      }
      p {
        height: 75px;
        overflow: hidden;
      }

      .date {
        font-weight: 300;
        width: calc(100% - #{2 * $card-button-width});
        font-size: 13px;
        text-align: center;
        display: block;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
      }

      .card-button {
        background-color: transparent;
        color: $card-button-color;
        width: $card-button-width;
        text-align: center;
        padding: 0;
        border: none;
        float: left;
        font-size: 18px;

        &:hover {
          cursor: pointer;
          color: darken($card-button-color, 10%);
        }

        &:focus {
          outline: none;
        }
      }

      .btn {
        margin: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &.add-mode, &.edit-mode {
      background-color: transparent;
      border: 3px dashed $grey;

      .card-block {
        padding: 0 10px;
      }

      .form-group {
        margin-bottom: 5px;
      }

      label {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
}

